.contactUsButton {
  margin-left: auto;
  width: auto;
}
html {
  scroll-behavior: smooth;
}
.navbar {
  background-color: rgb(200, 171, 42);
  color: black;
  transition: 0.5s;
}
.navbar-top {
  background-color: rgba(255, 255, 255, 0.1);
  color: aliceblue;
  height: 3em;
  font-size: 1.2em;
  transition: 0.5s;
}
.navbar-top a {
  color: aliceblue;
}
.navbar-top a:hover {
  color: rgb(200, 171, 42);
}
.navbar-top a:visited {
  color: rgb(200, 171, 42);
}
.navbar-top .topButton {
  display: none;
}
.topButton {
  transition: 0.5s;
  position: relative;
  margin-inline: 1em;
  cursor: pointer;
  background-color: transparent;
  border-color: black;
}
.topButton:hover {
  background-color: black;
  border-color: white;
}
.navbar-container {
  width: 100%;
}
.carouselMain img {
  height: 25em;
  object-fit: cover;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25em;
}
.languageDropdown {
  margin-inline: 1em;
  padding-inline: 0.5em;
  padding-block: 0.1em;
  display: flex;
  justify-content: end;
  /* background-color: rgba(137, 43, 226, 0.288); */
  border-radius: 25em;
}
div.show:nth-child(2) {
  background-color: rgb(141, 124, 48);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.flag {
  width: 25px;
  margin-left: auto;
}
.h1Main {
  text-align: center;
  margin-block: 1em;
}
.page404 {
  height: 100vh;
  background: url("https://i2.pickpik.com/photos/940/954/381/labradoodle-australian-labradoodle-puppy-puppy-cute-preview.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page404Div {
  height: 100%;
  background-color: rgba(0, 35, 35, 0.186);
  color: aliceblue;
}
.footerLogo {
  width: 55px;
  background-color: black;
  background-blend-mode: hard-light;
  padding: 7px;
}

.numbersDiv {
  display: flex;
  justify-content: center;
  margin-block: 1em;
}
.numbersDiv div {
  border-inline: 1px solid rgb(255, 255, 255);
  padding: 1em;
}
.numbersContainer {
  margin-block: 2em;
  background: rgb(37, 50, 40);
  background: linear-gradient(
    90deg,
    rgba(37, 50, 40, 1) 0%,
    rgba(54, 86, 61, 1) 50%,
    rgba(36, 99, 50, 1) 100%
  );
  color: aliceblue;
  padding: 2em;
  border-radius: 10px;
  border-top-right-radius: 40%;
  border-end-end-radius: 10px;
}
.docImg {
  width: 100%;
  height: 30em;
  object-fit: cover;
  margin: 1em;
}
body {
  position: relative;
  background-color: black;
  color: aliceblue;
  min-height: 100vh;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

body::before {
  z-index: -999;
  background: url(/public/pattern.png);
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  content: "";
  opacity: 0.3;
  background-size: 25%;
}
.docsContainter {
  background-color: rgb(91, 97, 94);
  margin-block: 2em;
  padding: 1em;
  padding-right: 2em;
}
.docsH2 {
  text-align: center;
  margin-top: 1em;
}
.navBarLogo {
  width: 40px;
}
.artModal div {
  background: rgb(18, 17, 6);
  background: linear-gradient(
    302deg,
    rgba(18, 17, 6, 1) 0%,
    rgba(57, 45, 22, 1) 50%,
    rgba(13, 0, 0, 1) 100%
  );
}
#artModalHeader {
  background: transparent !important;
}
.modal-body div {
  background: transparent;
}
.joinButton {
  all: unset;
  background: transparent;
  font-size: 1.1em;
  margin-left: 1em;
  border: 1px solid rgb(77, 63, 0);
  padding: 0 0.4em;
  border-radius: 7px;
}
.joinButton:hover {
  background-color: transparent;
}
.newsH2 {
  text-align: center;
  margin-bottom: 1em;
}
.newsCard img {
  height: 14em;
  object-fit: cover;
}
.newsCard {
  border: 1px solid black;
}
.aboutUsPics {
  /* width: 100%; */
  height: 15em;
  object-fit: cover;
}
.docsTitle {
  text-align: center;
  margin-top: 0.4em;
  color: rgb(235, 208, 87);
}
.docsCol {
  border: 1px solid rgb(200, 171, 42);
  padding-right: 2em;
}
.offcanvas {
  background-color: rgba(48, 39, 0, 0.4);
  color: aliceblue;
}
.adminPic {
  width: 100%;
}
.adminContainer {
  min-height: 80svh;
}
.adminUl {
  list-style: none;
  font-size: 1.5em;
}
.adminUl li {
  border: 1px solid rgb(115, 97, 16);
  padding: 0.8em;
}
.liSelected {
  background-color: rgba(240, 248, 255, 0.196);
}
.adminCol {
  border: 1px solid rgb(156, 130, 13);
  min-width: 8em;
  font-size: 1.1em;
  background-color: rgba(52, 52, 52, 0.559);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.disabled {
  display: none;
}
.modalBtn {
  background-color: rgba(0, 153, 255, 0.104);
  border: 1px solid rgb(156, 130, 13);
  margin-block: 1em;
  font-size: 1.2em;
}
.newsImg {
  width: 100%;
  height: 25em;
  object-fit: cover;
}
.offcanvasBtn button {
  /* width: 10em; */
  margin-block: 0.3em;
}
.newsRow {
  height: 25em;
}
.contactItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;
}
.aboutUsh2 {
  text-align: center;
  margin-bottom: 1.5em;
  font-size: 2.5em;
}
.active {
  color: inherit !important;
}
.partnersCol {
  margin-block: auto;
  color: black;
  object-fit: cover;
}
.partnersRow {
  background-color: antiquewhite;
  width: 100%;
  margin: 0;
  padding: 0;
  transition: 0.5s;
}
.partnersRow:hover {
  transform: scale(1.02);
  transition: 0.5s;
}
#partners,
#docs,
#aboutUs {
  scroll-margin-block-start: 4em;
}
#partners h2 {
  text-align: center;
  margin-block: 1em;
}
.footerSocialLogo {
  width: 30px;
}
.subscribeContainer {
  background-color: rgba(36, 99, 50, 1);
  height: 10em;
}
.emailCOl {
  position: relative;
  height: 10em;
  margin-left: auto;
  z-index: 2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emailCOl:before {
  content: "";
  position: absolute;
  width: 120%;
  height: 150%;
  top: 0%;
  right: -30%;
  z-index: -1;
  background: url(/public/pattern.png) 0 0 repeat;
  background-size: 50%;
  transform: rotate(-30deg);
}
.emailCOl input {
  height: 2em;
  width: 50%;
}
.textSubsCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.newsImages {
  width: 100%;
  height: 13em;
  object-fit: cover;
}
.coursesH4 {
  text-align: center;
}
.coursesP {
  text-align: center;
  font-size: 1.5em;
  border: 1px solid rgb(156, 130, 13);
  padding-block: 1em;
  border-radius: 5px;
}
.coursesContainer {
  background: rgb(18, 17, 6);
  background: linear-gradient(
    302deg,
    rgba(18, 17, 6, 1) 0%,
    rgba(57, 45, 22, 1) 50%,
    rgba(13, 0, 0, 1) 100%
  );
  padding: 1em;
  border: 1px solid white;
  border-radius: 10px;
}
.anketaButton {
  background-color: rgba(36, 99, 50, 1);
  border: 1px solid rgb(115, 97, 16);
  padding-inline: 3em;
  padding-block: 0.5em;
  transition: 0.5s;
}
.anketaButton:hover {
  background-color: rgb(115, 97, 16);
  border: 1px solid rgba(36, 99, 50, 1);
  transition: 0.5s;
  transform: scale(1.2);
}
.cardNewsBody {
  display: -webkit-box;
  max-width: 100%;
  height: 12em;
  margin-bottom: 0.5em;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.navbar-toggler {
  background-color: aliceblue;
}
.navbar-nav {
  text-align: center;
}
.navbar-collapse.show {
  margin-top: 1em;
  background-color: rgb(27, 27, 27);
  border-radius: 20px;
  border: 1px solid white;
  padding: 1em;
}
.navbar-collapse.show.bottom {
  background-color: transparent;

  border: none;
}
.navbarRow {
  width: auto;
  display: flex;
  justify-content: space-between;
}
.userButton {
  background-color: transparent;
  border-color: rgb(115, 97, 16);
}
.userButton:hover {
  background-color: rgb(115, 97, 16);
  border-color: rgb(18, 17, 6);
}
.courseImg {
  width: 100%;
  /* padding: 0.5em; */
  border: 1px solid white;
  margin-bottom: 1em;
  height: 12em;
  object-fit: cover;
}

.partnersColimg img {
  width: 100%;
  object-fit: cover;
}
.grafikDiv p {
  padding: 0;
  margin: 0;
}
.grafikDiv {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-block: 1em;
}
.footerDiv {
  position: relative;
  background-color: antiquewhite;
}
.footerDivBg {
  animation: bgmove 80s infinite;
  z-index: 0;
  background: url(/public/pattern.png);
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  content: "";
  opacity: 0.3;
  background-size: 25%;
}
@keyframes bgmove {
  50% {
    background-position: center;
  }
}
