.contactUsButton {
  margin-left: auto;
  width: auto;
}
.navbar {
  background-color: rgb(200, 171, 42);
  color: black;
  transition: 0.5s;
}
.navbar-top {
  background-color: rgba(255, 255, 255, 0.1);
  color: aliceblue;
  height: 3em;
  font-size: 1.2em;
  transition: 0.5s;
}
.navbar-top a {
  color: aliceblue;
}
.navbar-container {
  width: 100%;
}
.carouselMain img {
  height: 25em;
  object-fit: cover;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 25em;
}
.languageDropdown {
  margin-left: 1em;
  padding-inline: 0.5em;
  padding-block: 0.1em;

  /* background-color: rgba(137, 43, 226, 0.288); */
  border-radius: 25em;
}
.flag {
  width: 25px;
  margin-left: auto;
}
.h1Main {
  text-align: center;
  margin-block: 1em;
}
.page404 {
  height: 100vh;
  background: url("https://i2.pickpik.com/photos/940/954/381/labradoodle-australian-labradoodle-puppy-puppy-cute-preview.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page404Div {
  height: 100%;
  background-color: rgba(0, 35, 35, 0.186);
  color: aliceblue;
}
.footerLogo {
  width: 50px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.numbersDiv {
  display: flex;
  justify-content: center;
  margin-block: 1em;
}
.numbersDiv div {
  border-inline: 1px solid rgb(255, 255, 255);
  padding: 1em;
}
.numbersContainer {
  margin-block: 2em;
  background: rgb(37, 50, 40);
  background: linear-gradient(
    90deg,
    rgba(37, 50, 40, 1) 0%,
    rgba(54, 86, 61, 1) 50%,
    rgba(36, 99, 50, 1) 100%
  );
  color: aliceblue;
  padding: 2em;
  border-radius: 10px;
  border-top-right-radius: 40%;
  border-end-end-radius: 10px;
}
.docImg {
  width: 100%;
  object-fit: cover;
  margin: 1em;
}
body {
  position: relative;
  background-color: black;
  color: aliceblue;
}
body::before {
  background: url(/public/pattern.png);
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  content: "";
  opacity: 0.3;
  background-size: 25%;
}
